
.services-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 40px;

}

.service-container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 20px;
    flex: 1;
}

.service-container:hover {
    background-color: #174db26e;
    transition: all 0.3s ease-out;
    transform: scale(1.1) translateZ(0);
}

.service-heading > h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

.service-details {
    font-size: 16px;
    color: #5C5C5C;
}
