.user-form-container{
    display: flex;
    justify-content: center;
    margin: 20px 20px; 
}

h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 65px;

}

form{
    display: flex;
    flex-direction: column;
    border: 1px solid #3e78b9;
    border-radius: 5px;
    font: 16px Arial, sans-serif;
    width: 500px;
    overflow: hidden;
    padding: 20px;
    
}

input, 
textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin: 12px 0 10px 0;
    box-sizing: border-box;
}

label, 
 input[type = "text"], 
 input[type ="email"]{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
}

button{
    color: #174EB2;
    background-color: #FFF;
    border: 5px solid #53546e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color: #FFF;
    background-color: #174EB2;
    transition: all 0.3s ease-out;
    transform: scale(1.1) translateZ(0);
}

.banner-kids{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: cadetblue;
    padding: 24px;
    border-radius: 8px;
    margin: 1.5rem 97px;
}

.banner-kids h3 {
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
}


.banner-kids:hover{
    transition: all 0.3s ease-out;
    transform: scale(1.05) translateZ(0);
}

.banner-pic {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
}

.banner-pic > img{
    flex: 1;
    width: 420px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}
