.loginform-container {
  display: flex;
  align-items: top;
  justify-content: center;
  margin : 20px 20px;
}

h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 65px;
    margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  border: 1px solid #3e78b9;
  border-radius: 5px;
  font: 16px Arial, sans-serif;
  width: 500px;
  overflow: hidden;
  padding: 20px;
}

label,
input[type="text"],
input[type="password"] {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 10px 0 5px 0;
}

button {
  color: #174EB2;
  background-color: #FFF;
  border: 5px solid #53546e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: #FFF;
  background-color: #174EB2;
  transition: all 0.3s ease;
  transform: scale(1.1) translateZ(0);
}