.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: auto;
    background-color: #174db26e;
    border-radius: 8px;
    border;
}

.navbar-container a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #174db26e;
}

.navbar-items{
    display: flex;
    gap: 50px;
    color: var(--text-h);
    cursor: pointer;
    padding: 0px 60px;
}

.side-nav-items{
    justify-content: space-between;
    display: flex; 
    gap: 50px;
    margin-inline-end: auto;
}

.side-nav-items>img {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: auto;
}