.navbar-container{
    display: flex;
    justify-content: space-between; 
    border-radius: 8px;
    padding: 10px; 
    background-color: cadetblue;
    box-sizing: border-box;
    height: 180px;
}

.navbar-container a:hover{
    text-decoration: none;
    color: rgb(105, 21, 21);
}

.navbar-items{
    display: flex;
    gap: 30px;
    cursor: pointer; 
}

.navbar-items a{
    font-size: 18px;
    color: aliceblue;
}

/* .side-nav-items{
    display: flex; 
    text-align: left;
    gap: 30px;
} */

/* .navbar-icons{
      display: flex;
      gap: 15px;
}

.navbar-icons>a img{
   width: 25px;
   height: 25px;
   object-fit: contain;
   transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar-icons img:hover {
   transform: scale(1.18);
} */