.navbar-container{
    position: sticky;
    top: 0; 
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    border-radius: 8px;
    background-color: cadetblue;
    padding: 0 var(--page-gutter);
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo img{
    height: 100px;
    width: auto;
}

.menu-btn{
    display: none;
    background-color: transparent;
    height: 50px;
    width: auto;
    
}

.navbar-container a:hover{
    text-decoration: none;
    color: #1f2937;
}

.navbar-items{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer; 
    padding: 20px;
}

.navbar-items a{
    font-size: 18px;
    color: aliceblue;
    text-decoration-line: none;
}

@media(max-width: 768px){

    .navbar-items{
        display: none;
    }

    .menu-btn{
        display: flex;
    }

    .menu-btn:focus,
    .menu-btn:active {
        outline: none;
        background-color: transparent; 
    }
}


/* .side-nav-items{
    display: flex; 
    text-align: left;
    gap: 30px;
} */

/* .navbar-icons{
      display: flex;
      gap: 15px;
}

.navbar-icons>a img{
   width: 25px;
   height: 25px;
   object-fit: contain;
   transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar-icons img:hover {
   transform: scale(1.18);
} */