.banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    transition: all 0.3s ease-out;
    margin: 24px 10px;
}

.banner-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px;
}

.banner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 2;
}

.banner-grid-secondary {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    flex: 1;
}

.banner-grids-container {
    display: flex;
    gap: 30px;
    width: 97%;
    margin-top: 2rem; 
}


.banner-content p {
    font-size: 20px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
    margin: 0 0 1rem 0;
}

.banner-content h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
}

.btn-primary {
    color: rgb(105, 21, 21); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5rem;
}

a:hover{
    transition: all 0.3s ease-out;
   transform: scale(1.1) translateZ(0);
   color: cadetblue;
}

.banner-graphics img {
    display: flex;
    width: 500px;
    height: 200px;
    position: relative;
}

.subtible h3 {
    margin: 0 0 0.8rem 0;
    font-size: 1.2rem;
}

.subtible p {
    margin: 0;
    line-height: 1.6;
}



