.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-content{
    flex: 1;
    text-align: left;
    padding: 40px;
}

.banner-content p {
    font-size: 20px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.btn-primary {
    color: cadetblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover{
   color: #174EB2;
}

.banner-graphics img {
    display: flex;
    position: left;
    width: 500px;
    height: 200px;
    position: relative;
}

.banner-kids{
    display: flex;
    align-items: center;
    background-color: cadetblue;
    gap: 16px;
}

.banner-pic{
    width: 120px;           /* Give the image a fixed, predictable size */
  height: 120px;
  object-fit: cover;      /* Keeps the image aspect ratio intact */
  border-radius: 8px;
}


